<!DOCTYPE html>
<html>
<head>
    <title>Hand Landmark Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@0.10.0"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</head>
<body>
    <div id="demos" class="invisible">
        <h2>Demo 2: Webcam Detection</h2>
        <video id="webcam" width="640" height="480" autoplay muted></video>
        <canvas id="output_canvas" width="640" height="480"></canvas>
        <button id="webcamButton">ENABLE PREDICTIONS</button>
    </div>
</body>
</html>
